body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

body.modal-open,
body.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 320px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list-no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.476;
  }
}
.logo .logo__first-part {
  color: #2196f3;
}
.logo .logo__second-part {
  color: #000000;
}
.logo .logo__second-part--inverse {
  color: #ffffff;
}

.button {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  text-align: center;
  border: transparent;
  border-radius: 4px;
}

.button-primary {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
}
.close:hover .close__icon, .close:focus .close__icon {
  fill: #2196f3;
}

.close__icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
@media screen and (min-width: 768px) {
  .header .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header .header__logo {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header .header__logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-nav .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mobile-menu__button {
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu__button:hover, .mobile-menu__button:focus {
  fill: #2196f3;
}
.mobile-menu__button .icon-close {
  display: none;
}
.mobile-menu__button.is-open .icon-close {
  display: block;
}
.mobile-menu__button.is-open .icon-burger {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.menu-container {
  z-index: 1;
}
.menu-container.is-open {
  display: block;
  position: fixed;
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-list .social-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* height: 44px;
  width: 44px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.social-list .social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list .social-list__item--grey-bg {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-list__link:hover, .social-list .social-list__link:focus {
  background-color: #2196f3;
}
.social-list .social-list__link:hover .social-list__icon, .social-list .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}
.social-list .social-list__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-list__icon--white {
  fill: #ffffff;
}

.header-social-net {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.header-social-net .social-list__link {
  color: #2196f3;
  text-decoration: none;
}
.header-social-net .social-list__item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .header-social-net {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
}

.site-nav {
  margin-bottom: 374px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.site-nav .site-nav__item {
  display: block;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .site-nav .site-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
}
.site-nav .site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}
@media screen and (min-width: 768px) {
  .site-nav .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    font-size: 14px;
    line-height: 1.143;
  }
}
.site-nav .site-nav__link:hover, .site-nav .site-nav__link:focus {
  color: #2196f3;
}
.site-nav .site-nav__link--current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .site-nav .site-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.contacts-list {
  position: relative;
}
@media screen and (max-width: 767px) {
  .contacts-list {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list .contacts-list__item:last-child {
    -webkit-transform: translate(-3px);
            transform: translate(-3px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.contacts-list .contacts-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}
.contacts-list .contacts-list__link:hover, .contacts-list .contacts-list__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts-list .contacts-list__link {
    font-size: 12px;
    line-height: 1.143;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list .contacts-list__link {
    font-size: 14px;
    line-height: 1.143;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list .header-phone {
    position: absolute;
    top: -32px;
    left: 0;
    font-size: 34px;
    line-height: 1.18px;
    color: #2196f3;
  }
}
.contacts-list .contacts-list__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-list .contacts-list__icon {
    margin-right: 10px;
    fill: currentColor;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero {
  text-align: center;
}
.hero .hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.overlay {
  background-color: #2f303a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img--mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img--mobile.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img--mobile2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img--mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img--tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img--tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img--tablet2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img--tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img--desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img--desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img--desktop2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img--desktop2x.jpg);
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section .section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.section--no-padding {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.advantage-list .advantage-list__item {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage-list .advantage-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list .advantage-list__item {
    width: 270px;
  }
}
.advantage-list .advantage-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantage-list .advantage-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
.advantage-list .advantage-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
}
.advantage-list .advantage-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work-list .work-list__item {
  position: relative;
}
.work-list .work-list__example {
  display: block;
  max-width: 100%;
}
.work-list .work-list__label {
  position: absolute;
  bottom: 0%;
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 82px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}
.team-list .team-list__item {
  max-width: 450px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team-list .team-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-list .team-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team-list .team-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list .team-list__item {
    width: 270px;
    height: 428px;
    margin: 0;
    margin-left: 0;
    margin-top: 0;
  }
  .team-list .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.team-list .team-list__thumb {
  width: 100%;
  height: auto;
}
.team-list .team-list__photo {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-list .team-list__text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team-list .team-list__title {
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}
.team-list .team-list__about {
  margin-bottom: 16px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  /* border: 1px solid var($icon-color);
  box-sizing: border-box;
  border-radius: 4px; */
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;
  }
}
.clients-list .clients-list__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-list .clients-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list .clients-list__item {
    width: 170px;
    height: 90px;
    margin-top: 0;
    margin-left: 0;
  }
  .clients-list .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.clients-list .clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list .clients-list__link:hover, .clients-list .clients-list__link:focus {
  border: 1px solid #2196f3;
}
.clients-list .clients-list__link:hover .clients-list__icon, .clients-list .clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}
.clients-list .clients-list__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filters-list .filters-list__item:not(:last-child) {
  margin-right: 8px;
}
.filters-list .filters-list__button {
  font-weight: 500;
  background-color: #f5f4fa;
  color: #212121;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-list .filters-list__button:hover, .filters-list .filters-list__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
  font-size: 16px;
  line-height: 1.188;
}
@media screen and (min-width: 768px) {
  .cards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}
.cards-list .cards-list__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .cards-list .cards-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .cards-list .cards-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .cards-list .cards-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.cards-list .cards-list__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-list .cards-list__item:hover .overlay-cards {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.cards-list .cards-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.cards-list .cards-list__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.cards-list__photo {
  display: block;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-cards .overlay-cards__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.footer .footer__container {
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer__container {
    text-align: left;
  }
}
.footer .footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer .footer__address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .footer__link:hover, .footer .footer__link:focus {
  color: #2196f3;
}
.footer .footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .footer__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer .footer__title {
    text-align: left;
  }
}
.footer .footer__button-primary {
  margin: 0 auto;
}

.footer-left-block {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-left-block {
    margin-right: 70px;
  }
}

.subscribe {
  text-align: center;
  margin-bottom: 60px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px 94px 15px;
  }
}

.is-hidden .modal {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.modal {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 450px;
  height: 609px;
}
@media screen and (min-width: 768px) {
  .modal {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.form {
  position: relative;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 450px;
  height: 609px;
}
@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
    height: 581px;
  }
}
.form .form__title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}
.form .form__field {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form .form__field::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form .form__field::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form .form__field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form .form__field::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form .form__field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form .form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form .form__input,
.form .form__textarea {
  margin: 0;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 370px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form .form__input:focus, .form .form__input:focus,
.form .form__textarea:focus,
.form .form__textarea:focus {
  border: 1px solid #2196f3;
}
.form .form__input:focus + .form__icon,
.form .form__textarea:focus + .form__icon {
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .form .form__input,
.form .form__textarea {
    width: 448px;
    height: 40px;
  }
}
.form .form__input[type=text],
.form .form__input[type=tel],
.form .form__input[type=email] {
  padding-left: 42px;
}
.form .form__textarea {
  min-height: 120px;
  resize: none;
}
.form .form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #212121;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 24px;
}
.agree .agree__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agree .agree__input:checked ~ .agree__icon {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}
.agree .agree__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 3px;
  left: 1px;
  height: 15px;
  width: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
  border: 2px solid #212121;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .agree .agree__icon {
    top: 5px;
    left: 12px;
  }
}
.agree .agree__text-label {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  .agree .agree__text-label {
    font-size: 14px;
    line-height: 1.71;
  }
}
.agree .agree__link {
  color: #2196f3;
}

/* FORM-SEND */
.form-send {
  max-width: 450px;
  height: 156px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  .form-send {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.form-send .form-send__input {
  max-width: 100%;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-send .form-send__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-send .form-send__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-send .form-send__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-send .form-send__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-send .form-send__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .form-send .form-send__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .form-send .form-send__input {
    width: 358px;
  }
}
.form-send .form-send__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form-send .form-send__field {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.form-send .form-send__button-text {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */