body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list-no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.476;
}
.logo .logo__first-part {
  color: #2196f3;
}
.logo .logo__second-part {
  color: #000000;
}
.logo .logo__second-part--inverse {
  color: #ffffff;
}

.button {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  text-align: center;
  border: transparent;
  border-radius: 4px;
}

.button-primary {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
}
.close:hover .close__icon, .close:focus .close__icon {
  fill: #2196f3;
}

.close__icon {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header .header__container {
  display: flex;
  align-items: center;
}
.header .header__logo {
  margin-right: 93px;
}

.social-list {
  display: flex;
  text-align: center;
}
.social-list .social-list__item {
  display: flex;
  /* height: 44px;
  width: 44px; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social-list .social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list .social-list__item--grey-bg {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-list__link {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-list__link:hover, .social-list .social-list__link:focus {
  background-color: #2196f3;
}
.social-list .social-list__link:hover .social-list__icon, .social-list .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}
.social-list .social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-list__icon--white {
  fill: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}
.site-nav .site-nav__item {
  display: flex;
}
.site-nav .site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .site-nav__link:hover, .site-nav .site-nav__link:focus {
  color: #2196f3;
}
.site-nav .site-nav__link--current {
  display: flex;
  position: relative;
  color: #2196f3;
}
.site-nav .site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-list {
  margin-left: auto;
  display: flex;
}
.contacts-list .contacts-list__item + .contacts-list__item {
  margin-left: 50px;
}
.contacts-list .contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: currentColor;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}
.contacts-list .contacts-list__link:hover, .contacts-list .contacts-list__link:focus {
  color: #2196f3;
}
.contacts-list .contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
  display: flex;
  flex-direction: row;
}

.hero {
  text-align: center;
}
.hero .hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}

.overlay {
  background-color: #2f303a;
  box-sizing: border-box;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section .section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.section--no-padding {
  padding-top: 0;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
}
.advantage-list .advantage-list__item {
  width: 270px;
}
.advantage-list .advantage-list__item:not(:last-child) {
  margin-right: 30px;
}
.advantage-list .advantage-list__icon {
  display: flex;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.advantage-list .advantage-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}
.work-list .work-list__item {
  position: relative;
}
.work-list .work-list__example {
  display: block;
}
.work-list .work-list__label {
  position: absolute;
  bottom: 0%;
  display: block;
  text-align: center;
  align-items: center;
  padding: 27px 82px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  display: flex;
}
.team-list .team-list__item {
  width: 270px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}
.team-list .team-list__item:not(:last-child) {
  margin-right: 30px;
}
.team-list .team-list__photo {
  display: block;
}
.team-list .team-list__text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team-list .team-list__title {
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}
.team-list .team-list__about {
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-list .clients-list__item {
  display: flex;
  /* border: 1px solid var($icon-color);
  box-sizing: border-box;
  border-radius: 4px; */
  width: 170px;
  height: 90px;
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.clients-list .clients-list__item:not(:last-child) {
  margin-right: 30px;
}
.clients-list .clients-list__link {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list .clients-list__link:hover, .clients-list .clients-list__link:focus {
  border: 1px solid #2196f3;
}
.clients-list .clients-list__link:hover .clients-list__icon, .clients-list .clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}
.clients-list .clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-list .filters-list__item:not(:last-child) {
  margin-right: 8px;
}
.filters-list .filters-list__button {
  font-weight: 500;
  background-color: #f5f4fa;
  color: #212121;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-list .filters-list__button:hover, .filters-list .filters-list__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
  font-size: 16px;
  line-height: 1.188;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}
.cards-list .cards-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}
.cards-list .cards-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-list .cards-list__item:hover .overlay-cards {
  transform: translateY(0);
  opacity: 1;
}
.cards-list .cards-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.cards-list .cards-list__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay-cards {
  display: flex;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-cards .overlay-cards__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer .footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer .footer__address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.footer .footer__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .footer__link:hover, .footer .footer__link:focus {
  color: #2196f3;
}
.footer .footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .footer__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
}
.footer .footer__button-primary {
  margin: 0;
}

.footer-left-block {
  margin-right: 40px;
}

.subscribe {
  text-align: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: scale(0.5);
  opacity: 0;
}

.modal {
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form {
  position: relative;
  padding: 40px;
  width: 528px;
  height: 581px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.form .form__title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}
.form .form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form .form__field::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form .form__field:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form .form__field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form .form__label {
  color: #757575;
}
.form .form__input,
.form .form__textarea {
  margin: 0;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form .form__input:focus, .form .form__input:focus,
.form .form__textarea:focus,
.form .form__textarea:focus {
  border: 1px solid #2196f3;
}
.form .form__input:focus + .form__icon,
.form .form__textarea:focus + .form__icon {
  fill: #2196f3;
}
.form .form__input[type=text],
.form .form__input[type=tel],
.form .form__input[type=email] {
  padding-left: 42px;
}
.form .form__textarea {
  min-height: 120px;
  resize: none;
}
.form .form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #212121;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 24px;
}
.agree .agree__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agree .agree__input:checked ~ .agree__icon {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}
.agree .agree__icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  left: 12px;
  height: 15px;
  width: 16px;
  box-sizing: border-box;
  pointer-events: none;
  border: 2px solid #212121;
  border-radius: 2px;
}
.agree .agree__text-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 25px;
}
.agree .agree__link {
  color: #2196f3;
}

/* FORM-SEND */
.form-send {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 570px;
  height: 86px;
  box-sizing: border-box;
}
.form-send .form-send__input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  padding-left: 16px;
  box-sizing: border-box;
}
.form-send .form-send__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-send .form-send__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-send .form-send__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-send .form-send__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  margin-bottom: 0;
}
.form-send .form-send__button-text {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */