.mobile-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .contacts-list {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }
}

.header--mobile {
  display: flex;
  align-items: center;
  width: 100%;
}

.mobile-menu__button {
  z-index: 2;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  .icon-close {
    display: none;
  }

  &.is-open {
    .icon-close {
      display: block;
    }

    .icon-burger {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  z-index: 1;
  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow-y: scroll;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $primary-bg-color;
    padding: 48px 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
}
